@import "../runo/styles.css";
.v-app .v-horizontallayout-topbar{
    border-bottom: 1px solid #eaeaea;
    background: #5c5d60 url(top-bg.png) repeat-x;
    color: white;
}

.v-app .topbar .v-link{
    color: white;
}

.v-app .topbar .logo,
.v-app .topbar .logo:focus,
.v-app .topbar .logo:active {
    width: 167px;
    height: 44px;
    margin: 0;
    padding: 0;
    background: transparent url(logo.png) no-repeat;
    overflow: hidden;
    border: none;
    outline: none;
}

.v-app .topbar .logo img {
    display: none;
}

.v-app .v-horizontallayout-topbar .v-nativebutton-link span {
    text-decoration: none;
}
.v-app .v-horizontallayout-topbar .v-nativebutton-link:hover span {
    text-decoration: underline;
}

.v-menubar{
    background: #5c5d60 url(top-bg.png) repeat-x;
    color: white;
    height: 35px;
    text-shadow: rgba(0, 0, 0, 0, 898438) 0px 1px 0px;
}

.v-menubar .v-menubar-menuitem {
    height: 30px;
    vertical-align: middle;
    padding: 7px 10px 10px 10px;
}

.v-formlayout-row .v-caption {
    background: #5c5d60 url(top-bg.png) repeat-x;
    color: white;
    height: 20px;
    text-shadow: rgba(0, 0, 0, 0, 898438) 0px 1px 0px;
    vertical-align: middle;
    padding: 3px 10px 0px 10px;
}
