@import "../runo/styles.css";
.v-app .v-horizontallayout-topbar{
    border-bottom: 1px solid #eaeaea;
    background: #5c5d60 url(top-bg.png) repeat-x;
    color: white;
}

.v-app .topbar .v-link{
    color: white;
}

.v-app .topbar .logo,
.v-app .topbar .logo:focus,
.v-app .topbar .logo:active {
    width: 167px;
    height: 44px;
    margin: 0;
    padding: 0;
    background: transparent url(logo.png) no-repeat;
    overflow: hidden;
    border: none;
    outline: none;
}

.v-app .topbar .logo img {
    display: none;
}

.v-app .v-horizontallayout-topbar .v-nativebutton-link span {
    text-decoration: none;
}
.v-app .v-horizontallayout-topbar .v-nativebutton-link:hover span {
    text-decoration: underline;
}